<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=/theme/favicon.svg rel=icon type=image/svg+xml>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 1rem;
            color: #444;
            background: #f5e6d6;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            line-height: 1.6;
            overflow-x: hidden;
        }

        h1, h2, h3 {
            line-height: 1.2;
        }

        body {
            min-height: 100vh;
            margin: 0 auto;
            max-width: 50rem;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 1rem 0;
        }

        header > a {
            text-decoration: none;
            border: 0 !important;
        }

        #heading-wrapper {
            text-align: center;
        }

        #heading-wrapper > * {
            margin: 0;
        }

        #heading-wrapper > h4 {
            font-size: calc(15px + 0.45vw);
        }

        #ipu-logo {
            object-fit: contain;
            max-width: 8rem;
        }

        main {
            background: white;
            padding: 0 1rem 2rem 1rem;
            border: 1px solid grey;
            border-radius: 10px;
        }

        footer,
        address {
            padding: 2rem 1rem;
            text-align: center;
            font-size: 0.875rem;
            opacity: 0.875;
        }

        a {
            color: #6200ea;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }

        a:hover {
            border-bottom: 1px solid currentColor;
        }
    </style>
    <link rel="stylesheet" href="/theme/markdown.css">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <img src="/theme/logo.svg" alt="GGSIPU Logo" id="ipu-logo">
    <div id="heading-wrapper">
        <h4>University School of Automation &amp; Robotics</h4>
        <p>Personal resource archive for various courses.</p>
    </div>
</header>
<main>
    <div id="markdown">{{ content }}</div>
</main>
<footer>
    To contribute or report issues, visit <a href="https://github.com/sujaldev/college">source repository</a>.
</footer>
</body>
</html>