<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=/theme/favicon.svg rel=icon type=image/svg+xml>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 1rem;
            color: #444;
            background: #f5e6d6;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            line-height: 1.6;
            overflow-x: hidden;
        }

        h1, h2, h3 {
            line-height: 1.2;
        }

        body {
            min-height: 100vh;
            margin: 0 auto;
            max-width: 50rem;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 1rem 0;
        }

        header > a {
            text-decoration: none;
            border: 0 !important;
        }

        #heading-wrapper {
            text-align: center;
        }

        #heading-wrapper > * {
            margin: 0;
        }

        #heading-wrapper > h4 {
            font-size: calc(15px + 0.45vw);
        }

        #ipu-logo {
            object-fit: contain;
            max-width: 8rem;
        }

        main {
            background: white;
            padding: 0 1rem 2rem 1rem;
            border: 1px solid grey;
            border-radius: 10px;
        }

        footer,
        address {
            padding: 2rem 1rem;
            text-align: center;
            font-size: 0.875rem;
            opacity: 0.875;
        }

        a {
            color: #6200ea;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }

        a:hover {
            border-bottom: 1px solid currentColor;
        }

        /* --- For markdown --- */

        h1 {
            border-bottom: 1px solid lightgrey;
        }

        blockquote {
            margin: 1rem 1.25rem;
            padding: 1px 10px;
            border-left: 4px solid darkgrey;
            background: lightgrey;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid grey;
        }

        th, td {
            padding: 2px 5px;
        }

        code {
            padding: 1px 5px;
            background: lightgrey;
            border-radius: 5px;
        }

        pre > code {
            padding: initial;
            background: initial;
            border-radius: initial;
        }

        .highlight {
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }

        .highlight > pre {
            padding: 5px 10px;
            margin: 0;
        }

    </style>
    <style>
        /* Pygments Default Style */
        .highlight .hll {
            background-color: #ffffcc
        }

        .highlight {
            background: #f8f8f8;
        }

        .highlight .c {
            color: #408080;
            font-style: italic
        }

        /* Comment */
        .highlight .err {
            border: 1px solid #FF0000
        }

        /* Error */
        .highlight .k {
            color: #008000;
            font-weight: bold
        }

        /* Keyword */
        .highlight .o {
            color: #666666
        }

        /* Operator */
        .highlight .ch {
            color: #408080;
            font-style: italic
        }

        /* Comment.Hashbang */
        .highlight .cm {
            color: #408080;
            font-style: italic
        }

        /* Comment.Multiline */
        .highlight .cp {
            color: #BC7A00
        }

        /* Comment.Preproc */
        .highlight .cpf {
            color: #408080;
            font-style: italic
        }

        /* Comment.PreprocFile */
        .highlight .c1 {
            color: #408080;
            font-style: italic
        }

        /* Comment.Single */
        .highlight .cs {
            color: #408080;
            font-style: italic
        }

        /* Comment.Special */
        .highlight .gd {
            color: #A00000
        }

        /* Generic.Deleted */
        .highlight .ge {
            font-style: italic
        }

        /* Generic.Emph */
        .highlight .gr {
            color: #FF0000
        }

        /* Generic.Error */
        .highlight .gh {
            color: #000080;
            font-weight: bold
        }

        /* Generic.Heading */
        .highlight .gi {
            color: #00A000
        }

        /* Generic.Inserted */
        .highlight .go {
            color: #888888
        }

        /* Generic.Output */
        .highlight .gp {
            color: #000080;
            font-weight: bold
        }

        /* Generic.Prompt */
        .highlight .gs {
            font-weight: bold
        }

        /* Generic.Strong */
        .highlight .gu {
            color: #800080;
            font-weight: bold
        }

        /* Generic.Subheading */
        .highlight .gt {
            color: #0044DD
        }

        /* Generic.Traceback */
        .highlight .kc {
            color: #008000;
            font-weight: bold
        }

        /* Keyword.Constant */
        .highlight .kd {
            color: #008000;
            font-weight: bold
        }

        /* Keyword.Declaration */
        .highlight .kn {
            color: #008000;
            font-weight: bold
        }

        /* Keyword.Namespace */
        .highlight .kp {
            color: #008000
        }

        /* Keyword.Pseudo */
        .highlight .kr {
            color: #008000;
            font-weight: bold
        }

        /* Keyword.Reserved */
        .highlight .kt {
            color: #B00040
        }

        /* Keyword.Type */
        .highlight .m {
            color: #666666
        }

        /* Literal.Number */
        .highlight .s {
            color: #BA2121
        }

        /* Literal.String */
        .highlight .na {
            color: #7D9029
        }

        /* Name.Attribute */
        .highlight .nb {
            color: #008000
        }

        /* Name.Builtin */
        .highlight .nc {
            color: #0000FF;
            font-weight: bold
        }

        /* Name.Class */
        .highlight .no {
            color: #880000
        }

        /* Name.Constant */
        .highlight .nd {
            color: #AA22FF
        }

        /* Name.Decorator */
        .highlight .ni {
            color: #999999;
            font-weight: bold
        }

        /* Name.Entity */
        .highlight .ne {
            color: #D2413A;
            font-weight: bold
        }

        /* Name.Exception */
        .highlight .nf {
            color: #0000FF
        }

        /* Name.Function */
        .highlight .nl {
            color: #A0A000
        }

        /* Name.Label */
        .highlight .nn {
            color: #0000FF;
            font-weight: bold
        }

        /* Name.Namespace */
        .highlight .nt {
            color: #008000;
            font-weight: bold
        }

        /* Name.Tag */
        .highlight .nv {
            color: #19177C
        }

        /* Name.Variable */
        .highlight .ow {
            color: #AA22FF;
            font-weight: bold
        }

        /* Operator.Word */
        .highlight .w {
            color: #bbbbbb
        }

        /* Text.Whitespace */
        .highlight .mb {
            color: #666666
        }

        /* Literal.Number.Bin */
        .highlight .mf {
            color: #666666
        }

        /* Literal.Number.Float */
        .highlight .mh {
            color: #666666
        }

        /* Literal.Number.Hex */
        .highlight .mi {
            color: #666666
        }

        /* Literal.Number.Integer */
        .highlight .mo {
            color: #666666
        }

        /* Literal.Number.Oct */
        .highlight .sa {
            color: #BA2121
        }

        /* Literal.String.Affix */
        .highlight .sb {
            color: #BA2121
        }

        /* Literal.String.Backtick */
        .highlight .sc {
            color: #BA2121
        }

        /* Literal.String.Char */
        .highlight .dl {
            color: #BA2121
        }

        /* Literal.String.Delimiter */
        .highlight .sd {
            color: #BA2121;
            font-style: italic
        }

        /* Literal.String.Doc */
        .highlight .s2 {
            color: #BA2121
        }

        /* Literal.String.Double */
        .highlight .se {
            color: #BB6622;
            font-weight: bold
        }

        /* Literal.String.Escape */
        .highlight .sh {
            color: #BA2121
        }

        /* Literal.String.Heredoc */
        .highlight .si {
            color: #BB6688;
            font-weight: bold
        }

        /* Literal.String.Interpol */
        .highlight .sx {
            color: #008000
        }

        /* Literal.String.Other */
        .highlight .sr {
            color: #BB6688
        }

        /* Literal.String.Regex */
        .highlight .s1 {
            color: #BA2121
        }

        /* Literal.String.Single */
        .highlight .ss {
            color: #19177C
        }

        /* Literal.String.Symbol */
        .highlight .bp {
            color: #008000
        }

        /* Name.Builtin.Pseudo */
        .highlight .fm {
            color: #0000FF
        }

        /* Name.Function.Magic */
        .highlight .vc {
            color: #19177C
        }

        /* Name.Variable.Class */
        .highlight .vg {
            color: #19177C
        }

        /* Name.Variable.Global */
        .highlight .vi {
            color: #19177C
        }

        /* Name.Variable.Instance */
        .highlight .vm {
            color: #19177C
        }

        /* Name.Variable.Magic */
        .highlight .il {
            color: #666666
        }

        /* Literal.Number.Integer.Long */
    </style>
    <title>{{ title }}</title>
</head>
<body>
<header>
    <img src="/theme/logo.svg" alt="GGSIPU Logo" id="ipu-logo">
    <div id="heading-wrapper">
        <h4>University School of Automation &amp; Robotics</h4>
        <p>Personal resource archive for various courses.</p>
    </div>
</header>
<main>
    {{ content }}
</main>
<footer>
    To contribute or report issues, visit <a href="https://github.com/sujaldev/college">source repository</a>.
</footer>
</body>
</html>