<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ STATIC_PREFIX }}/images/favicon.svg" type="image/svg+xml">
    <title>{% block title %}IPU Resources{% endblock %}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: #101216;
            margin: auto;
            max-width: 850px;
            line-height: 1.6;
            font-size: 1rem;
            font-family: sans-serif;
            color: #d0d0d0;
            padding: 0 2em;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        a {
            color: #00b0d5;
        }

        h1, h2, h3 {
            line-height: 1.2;
        }

        header {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #title-container {
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        #ipu-logo {
            margin-right: 1em;
            height: 40px;
        }

        footer {
            margin-bottom: 40px;
            text-align: center;
        }

        article {
            flex: 1;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <a href="/" id="title-container">
        <img src="{{ STATIC_PREFIX }}/images/favicon.png" alt="IPU Logo" id="ipu-logo">
        <h1>IPU EDC</h1>
    </a>
    <a href="https://github.com/sujaldev/college">
        <img src="{{ STATIC_PREFIX }}/images/github.svg" alt="GitHub Logo" height="25px">
    </a>
</header>
<article>
    <p class="center">
        This website is open source, you can make contributions to it in
        <a href="https://github.com/sujaldev/college/" target="_blank">this</a> repository.
    </p>
    {% block content %}
    {% endblock %}
</article>
<footer>
    This site is maintained by <a href="https://sujal.dev/">Sujal Singh</a>
</footer>
</body>
</html>