{% extends "base.jinja" %}
{% block head %}
    <style>
        .listing {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

        .listing > a {
            text-decoration: none;
            color: inherit;
            flex: 45%;
            padding: 20px;
            margin: 10px;
            border: 1px solid #005FA0;
            border-radius: 8px;
            box-shadow: 0 0 5px 2px rgba(0, 95, 150, 0.5);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="listing">
        {% for url_path, url_text in files.items() %}
            <a href="{{ url_path }}">{{ url_text }}</a>
        {% endfor %}
    </div>
{% endblock %}